body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    background: #34495e;
    display: grid;
    width: 80%;
    margin: 45px auto 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    grid-template-columns: fit-content(200px) fit-content(300px) 1fr;  
    grid-template-rows: repeat(2, minmax(100px, min-content)); 
    grid-auto-rows: 80px; 
  }
  .items{
      padding: 10px;
  }
  .item1 {
    background: #00cec9;
  }
  .item2 {
    background: #a29bfe;
  }
  .item3 {
    background: #fd79a8;
  }
  .item4 {
    background: #ff7675;
  }
  .item5 {
    background: #786fa6;
  }
  .item6 {
    background: #e17055;
  }
  .item7 {
    background: #cf6a87;
  }
  .item8 {
  background: #ff9ff3;
}